@using Resources

@{
    ViewBag.Title = Resources.Calculator;
}
<div class="d-flex flex-column align-items-stretch">
    <div class="screen d-flex flex-column align-items-end">
        <div data-bind="foreach:history">
            <div class="d-flex flex-row justify-content-end" data-bind="foreach:$data">
                <span data-bind="text:$data"></span>
            </div>
        </div>
        <div data-bind="foreach:operation">
            <span data-bind="text:$data"></span>
        </div>
        <div class="separator align-self-stretch"></div>
        <div class="d-flex flex-row">
            <div></div>
            <div class="ml-auto" data-bind="text:screen"></div>
        </div>
    </div>
    <div class="d-flex flex-row justify-content-end">
        <div class="button-panel">
            <div class="d-flex flex-row">
                <button class="btn btn-danger btn-calc m-2" data-bind="click:model.clearClick">C</button>
                <button class="btn btn-warning btn-calc m-2" data-bind="click:model.deleteClick"><i class="fas fa-arrow-left"></i></button>
                <button class="btn btn-success btn-calc m-2"><i class="fas fa-percent"></i></button>
                <button class="btn btn-success btn-calc m-2" data-bind="click:()=>model.operationClick('/')"><i class="fas fa-divide"></i></button>
            </div>
            <div class="d-flex flex-row">
                <button class="btn btn-primary btn-calc m-2" data-bind="click:model.numberClick">7</button>
                <button class="btn btn-primary btn-calc m-2" data-bind="click:model.numberClick">8</button>
                <button class="btn btn-primary btn-calc m-2" data-bind="click:model.numberClick">9</button>
                <button class="btn btn-success btn-calc m-2" data-bind="click:()=>model.operationClick('*')"><i class="fas fa-times"></i></button>
            </div>
            <div class="d-flex flex-row">
                <button class="btn btn-primary btn-calc m-2" data-bind="click:model.numberClick">4</button>
                <button class="btn btn-primary btn-calc m-2" data-bind="click:model.numberClick">5</button>
                <button class="btn btn-primary btn-calc m-2" data-bind="click:model.numberClick">6</button>
                <button class="btn btn-success btn-calc m-2" data-bind="click:()=>model.operationClick('-')"><i class="fas fa-minus"></i></button>
            </div>
            <div class="d-flex flex-row">
                <button class="btn btn-primary btn-calc m-2" data-bind="click:model.numberClick">1</button>
                <button class="btn btn-primary btn-calc m-2" data-bind="click:model.numberClick">2</button>
                <button class="btn btn-primary btn-calc m-2" data-bind="click:model.numberClick">3</button>
                <button class="btn btn-success btn-calc m-2" data-bind="click:()=>model.operationClick('+')"><i class="fas fa-plus"></i></button>
            </div>
            <div class="d-flex flex-row">
                <button class="btn btn-info btn-calc m-2">( )</button>
                <button class="btn btn-primary btn-calc m-2" data-bind="click:model.numberClick">0</button>
                <button class="btn btn-primary btn-calc m-2" data-bind="click:model.dotClick">.</button>
                <button class="btn btn-warning btn-calc m-2" data-bind="click:model.operationEquals"><i class="fas fa-equals"></i></button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/script")
    <script>
        var model = new Model();
        ko.applyBindings(model);
    </script>  
}

